            <section class="section projects-section">
                <h2 class="section-title"><i class="fa {{ .Site.Params.awards.icon }}"></i>{{ i18n "awards" }}</h2>
                <div class="intro">
                    <p>{{ with .Site.Params.awards.intro }}{{ . | markdownify }}{{ end }}</p>
                </div><!--//intro-->
				{{ range .Site.Params.awards.list }}
                <div class="item">
                    <span class="project-title"><a href="{{ .url }}">{{ .title }}</a></span> - <span class="project-tagline">{{ readFile .tagline | markdownify }}</span>
                </div><!--//item-->
				{{ end }}
            </section><!--//section-->
